.main {
    max-width: 800px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    text-align: center;
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }
}

.title {
    font-size: 2rem;
    @media screen and (max-width: 767px) {
        font-size: 1rem;
    }
}

.description {
    margin-top: 10px;
    font-size: 1rem;
    @media screen and (max-width: 767px) {
        font-size: 0.7rem;
    }
}

.br {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
