.footer {
    color: #ffffff;
    background-color: #6ba6e7;
    // margin-top: 60px;
    line-height: normal;
}

.copy {
    text-align: center;
    padding: 0 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}
