.overlay {
    /*　画面全体を覆う設定　*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);

    /*　画面の中央に要素を表示させる設定　*/
    display: flex;
    align-items: center;
    justify-content: center;

    /* MUI重なり対策  */
    z-index: 10000;

    contain: content;
}

.content {
    position: relative;
    box-sizing: border-box;
    width: 80vw;
    height: 70vh;
    // aspect-ratio: 16 / 9;
    padding: 50px 10px 10px 10px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    animation: anim-modal 0.5s ease;
    will-change: transform, opacity;
    @media screen and (max-width: 767px) {
        padding: 30px 5px 5px 5px;
        height: 40vh;
    }
}

@keyframes anim-modal {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
}

.button_close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
    @media screen and (max-width: 767px) {
    }
}
