.form_unit {
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    & + & {
        margin-top: 30px;
    }
}

.form_unit_title {
    margin-top: 20px;
    text-align: left;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #ccc;
}

.form_multicombobox_container {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.form_multicombobox_item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form_multicombobox_title {
    color: gray;
}

.form_multicombobox_combobox {
    width: 200px;
    margin-top: 10px;
}

.input_text {
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    padding: 1em;
    height: 40px;
    width: 100%;
}

.input_textarea {
    display: block;
    appearance: none;
    width: 100%;
    min-height: 100px;
    padding: 1em;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    line-height: 1.5;
    overflow: hidden;
    transition: background-color 0.3s;
}

.form_actionArea {
    margin-top: 30px;
}

.form_validateMessage {
    font-weight: bold;
    color: #dc4f89;
    line-height: 1.6;
    font-size: 14px;
    * + & {
        margin-top: 8px;
    }
}
.form_buttonWrapper {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.form_submitButton {
    width: 100px;
    appearance: none;
    padding: 1em;
    background: #5284e3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    &:hover {
        opacity: 0.6;
    }
}

.br {
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
